{
  "singleQuote": true,
  "trailingComma": "all",
  "tabWidth": 2,
  "semi": false,
  "printWidth": 80,
  "overrides": [
    {
      "files": "*.mdx",
      "options": {
        "parser": "mdx",
        "proseWrap": "always"
      }
    }
  ]
}
